.ionide/
.vs/

# fable compiler output via webpack (fable-loader)
bundle.js
bundle.js.map

# fable compiler output via nodejs (fable-splitter)
build/

# dotnet F# compiler output
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

node_modules/

.DS_Store